
@{
    ViewBag.Title = "Login";
}

<body class="p-2 text-white"> 
    <div class="loginBox">
        <img class="user" src="~/files/assets/images/Logo_comp.png" height="100px" width="150px"/>

        
        <form action="~/Auth/Authentication" method="post">
            <div class="inputBox text-white">
                <input id="uname" type="text" name="usuario" placeholder="Usuario">
                <input id="pass" type="password" name="contraseña" placeholder="Contraseña" required>
            </div>
            <input type="submit" name="" value="Login">
        </form>
       
        <div class="text-center">
            <label style="color: white;" class="btn-block text-center"><b>@ViewBag.Notification</b> </label>
            
        </div>

    </div>


</body>