
@{
    ViewBag.Title = "Layout_aside";

}

<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar main-menu">
        <div class="pcoded-navigatio-lavel">Principal</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a href="~/Home/Dashboard">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Inicio</span>
                </a>
            </li>
            <li class="pcoded-hasmenu active pcoded-trigger">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-shopping-cart"></i></span>
                    <span class="pcoded-mtext">Ventas</span>
                </a>
                <ul class="pcoded-submenu">

                    <li class="">
                        <a href="~/Ventas/Carrito">
                            <span class="pcoded-mtext">Registrar venta</span>
                        </a>
                    </li>
                    <li class=" pcoded-hasmenu">
                        <a href="~/Ventas/VerVentas">
                            <span class="pcoded-mtext">Ver Ventas</span>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-layers"></i></span>
                    <span class="pcoded-mtext">Compras</span>

                </a>
                <ul class="pcoded-submenu">

                    <li class=" pcoded-hasmenu">
                        <a href="~/Compras/Compra">
                            <span class="pcoded-mtext">Registrar compra</span>
                        </a>
                       
                    </li>
                    <li class=" pcoded-hasmenu">
                        <a href="~/Compras/VerCompras">
                            <span class="pcoded-mtext">Ver Compras</span>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-box"></i></span>
                    <span class="pcoded-mtext">Inventario</span>

                </a>
                <ul class="pcoded-submenu">
                    <li class=" ">
                        <a href="~/Inventario/AgregarProducto">
                            <span class="pcoded-mtext">Agregar nuevo producto</span>
                        </a>
                    </li>
                   
                </ul>
            </li>
            <li class="">
                <a href="~/Proveedor/AgregarProveedor">
                    <span class="pcoded-micon"><i class="feather icon-book"></i></span>
                    <span class="pcoded-mtext">Proveedor</span>
                </a>
            </li>
            <li class="">
                <a href="~/Cliente/AgregarCliente">
                    <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                    <span class="pcoded-mtext">Cliente</span>
                </a>
            </li>
           
        </ul>
        <div class="pcoded-navigatio-lavel">Otras funciones</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-list"></i></span>
                    <span class="pcoded-mtext">Agregar propiedades</span>
                </a>
                <ul class="pcoded-submenu">

                    <li class=" ">
                        <a  href="~/Propiedades/RG_propiedades">
                            <span class="pcoded-mtext">Laboratorio</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="~/Propiedades/Rpresentacion">
                            <span class="pcoded-mtext">Presentación</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="~/Propiedades/Rpropiedad2">
                            <span class="pcoded-mtext">Acción Farmacólogica</span>
                        </a>
                    </li>
                   

                </ul>
            </li>
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-bookmark"></i></span>
                    <span class="pcoded-mtext">Reportes</span>
                </a>
                <ul class="pcoded-submenu">
                   
                    <li class=" ">
                        <a href="~/Reportes/RepCompras">
                            <span class="pcoded-mtext">Compras</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="~/Reportes/RepVentas">
                            <span class="pcoded-mtext">Ventas</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="light-box.htm">
                            <span class="pcoded-mtext">Inventario</span>
                        </a>
                    </li>
                  
                </ul>
            </li>

           

        </ul>
        <div class="pcoded-navigatio-lavel">Administración</div>
        <ul class="pcoded-item pcoded-left-item">

            <li class="">
                <a href="~/Administracion/AgregarUsuario">
                    <span class="pcoded-micon"><i class="feather icon-edit-1"></i></span>
                    <span class="pcoded-mtext">Agregar usuario</span>
                    
                </a>
            </li>
           
        </ul>

    </div>
</nav>