
@{
    ViewBag.Title = "Compra";
}



<body>
    @RenderPage("~/Views/Inventario/Buscar.cshtml")
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">

        <div class="pcoded-container navbar-wrapper">

            @RenderPage("~/Views/Shared/Layout_header.cshtml")

            <!-- Sidebar inner chat end-->
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">

                    @RenderPage("~/Views/Shared/Layout_aside.cshtml")

                    <div class="pcoded-content">

                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">

                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 fw-bold">Datos de compra</p>
                                    </div>
                                    <div class="row">

                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label" for="registro-docentes"><strong>No. Factura</strong><br /></label>
                                                <input class="form-control" id="NoFact" name="pnombre-docente" value="" required />
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label" for="registro-docentes"><strong>Proveedor</strong></label>
                                                <select class="form-control" name="select" id="select-proveedor" required>
                                                    <option value="1">Ramos</option>
                                                    <option value="2">Solka</option>
                                                    <option value="3">Bayer</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>

                                    <button class="btn btn-primary d-none d-sm-inline-block" data-toggle="modal" data-target="#modal-ventas" onclick="Limpiar()">
                                        Agregar Producto
                                    </button>
                                    <br />


                                    <div class="card-shadow mb-5">
                                        <div class="card-header py-3">
                                            <h6 class="text-primary fw-bold m-0">Detalle de la Factura</h6>
                                        </div>
                                        <div class="card-body">
                                            <!--tabla para informacion de cursos -->
                                            <div class="table-responsive table mt-2" role="grid">
                                                <table class="table my-0" id="tabladetalle">
                                                    <thead>
                                                        <tr>
                                                            <th>Codigo</th>
                                                            <th>Descripción</th>
                                                            <th>Precio</th>
                                                            <th>Cantidad</th>
                                                            <th>Valor</th>
                                                            <th>Acciones</th>
                                                            <th style="visibility:collapse; display:none;">Vencimiento</th>
                                                            <th style="visibility:collapse; display:none;">Cambio Precio</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>

                                                      
                                                    </tbody>

                                                </table>

                                            </div>
                                        </div>

                                        <form>

                                            <div class="row">

                                                <div class="col">
                                                </div>
                                                <div class="col">

                                                </div>
                                                <div class="col">

                                                </div>
                                                <div class="col">

                                                </div>
                                                <div class="col">

                                                </div>
                                                <div class="col">
                                                    <label>Total </label>
                                                    <input class="form-control" id="total-compra" name="pnombre-docente" value="0" required/>
                                                    
                                                </div>

                                                <div class="col">

                                                </div>

                                            </div>
                                            <div class="row">

                                                <div class="col">
                                                </div>
                                                <div class="col">

                                                </div>
                                                <div class="col">

                                                </div>
                                                <div class="col">

                                                </div>
                                                <div class="col">

                                                </div>
                                                <div class="col">
                                                    <div>
                                                        <br />
                                                        <a class="btn btn-primary d-none d-sm-inline-block text-white efectuar" role="button">
                                                            <i class="fas fa-shopping-bag"></i>Guardar Compra
                                                        </a>

                                                    </div>
                                                </div>

                                                <div class="col">

                                                </div>

                                            </div>
                                        </form>
                                    </div>

                                    <!-- footer -->
                                    @RenderPage("~/Views/Shared/Layout_footer.cshtml")

                                </div>

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>



@section scripts{

    <script src="~/js/Proveedor.jsv=@DateTime.Now.Second.ToString()"></script>
    <script type="text/javascript">

        $(function () {

            let total = 0;

            $(document).ready(function () {

                $('#InfoProducto').DataTable({
                    responsive: true
                });

                //evento de la tabla de busqueda de productos
                $("#InfoProducto tr td .btnAgregar").click(function () {


                    $("#codigo").val($(this).parent().parent().children()[0].innerHTML);
                    $("#nombre").val($(this).parent().parent().children()[2].innerHTML);
                    $("#cambio-precio").val($(this).parent().parent().children()[6].innerHTML);

                    
                });

            });


            //evento para agregar producto a la tabla detalle
            $("#btn-agregar-producto").click(function () {

                console.log("dentro de insertar");
                var codigo = document.getElementById('codigo').value;
                var nombre = document.getElementById('nombre').value;
                var precio = document.getElementById('precio').value; 
                var cambioprecio = document.getElementById('cambio-precio').value;
                var cantidad = document.getElementById('cantidad-vendida').value;

                var vencimiento = document.getElementById('vencimiento').value;
                
                console.log(cantidad);
                if (codigo !== "" && nombre !== "" && precio !== "" && cantidad !== "" && cambioprecio !== "") {

                    if (parseInt(cantidad) <= 0) {
                        swal(
                            'error',
                            'la cantidad debe ser mayor a 0',
                            'error'
                        )
                       // alert("la cantidad debe ser mayor a 0");

                    } else {

                        //calcular el total
                        total = document.getElementById('total-compra').value; 
                        var totalfinal = 0;
                        totalfinal += Number.parseFloat(total) + (Number.parseFloat(precio) * Number.parseFloat(cantidad));

                        $("#total-compra").val(totalfinal);
                        //insertar los datos a la tabla
                        Insertar(codigo, nombre, precio, cantidad, cambioprecio, vencimiento);

                    }

                } else {
                    swal(
                        'error',
                        'Completa los campos',
                        'error'
                    )
                   // alert("no se puede agregar");
                }

            });

            $(".efectuar").click(function () {

                
                let tabla = document.getElementById('tabladetalle');
                let filas = tabla.getElementsByTagName('tr');
                let NoFact = document.getElementById('NoFact').value;
                let Idproveedor = document.getElementById('select-proveedor');
                
                if (NoFact !== "") {

                    if (filas.length > 1) {

                        console.log();
                        var i = 1;

                        let productos = [];
                        console.log(filas[i].cells[7].innerHTML);
                        for (i = 1; i < filas.length; i++) {

                            let producto = {
                                "NoFactura": NoFact,
                                "IdProveedor": Idproveedor.value,
                                "IdMedicamento": filas[i].cells[0].innerHTML,
                                "Cantidad": filas[i].cells[3].innerHTML,
                                "Precio": filas[i].cells[6].innerHTML,
                                "PrecioCompra": filas[i].cells[2].innerHTML,
                                "FechaVenc": filas[i].cells[7].innerHTML,
                            };

                           
                            productos.push(producto);

                        }

                        console.log(productos);

                        var params = JSON.stringify(productos);

                        $.ajax({
                            type: "POST",
                            data: params,
                            url: "/Compras/GuardarCompra",
                            contentType: "application/json;charset=utf-8",
                            success: function (response) {

                                if (response.result == 'Problema') {
                                    swal(
                                        'error',
                                        'Resultado incorrecto',
                                        'error'
                                    )
                                   // alert("Resultado incorrecto");
                                }
                                else if (response.result == 'Redirect') {
                                    //redirecting to main page from here for the time being.
                                    swal(
                                        'exito',
                                        'Compra agregadas',
                                        'success'
                                    )
                                    //alert("Venta agregada");
                                    window.location = response.url;
                                }
                            },
                            error: function (xhr, thrownError) {
                                console.log(xhr.status + " \n " + xhr.responseText, "\n" + thrownError);
                            }
                        });

                    } else {
                        swal(
                            'error',
                            'no hay productos agregados',
                            'error'
                        )
                        //alert("no hay productos agregados");
                    }
                } else {
                    swal(
                        'error',
                        'agrege el codigo de la factura',
                        'error'
                    )
                   // alert("agrege el codigo de la factura");
                }

            });

        });

       function Insertar(codigo, nombre, precio, cantidad, cambioprecio, vencimiento) {

            //obtenr la referencia de la tabla detalle
            let tbldatos = document.getElementById('tabladetalle').insertRow(-1);
            //obtener los indices de las celdas 
            let col1 = tbldatos.insertCell(0);
            let col2 = tbldatos.insertCell(1);
            let col3 = tbldatos.insertCell(2);
            let col4 = tbldatos.insertCell(3);
            let col5 = tbldatos.insertCell(4);
            let col6 = tbldatos.insertCell(5);
            let col7 = tbldatos.insertCell(6);
            let col8 = tbldatos.insertCell(7);

            //obtener el subtotal del producto
            var subtotal = parseFloat(precio) * parseInt(cantidad, 10);
            console.log(subtotal);
            //agregar los elementos a la tabla detalle
            col1.innerHTML = codigo;
            col2.innerHTML = nombre;
            col3.innerHTML = precio;
            col4.innerHTML = cantidad;
            col5.innerHTML = String(subtotal);
            col6.innerHTML = "<a class='btn bg-warning d-sm-inline-block btn-baja-detalle' onclick='eliminar()'><i class='feather icon-trash text-white'></i></a>";
            col7.innerHTML = cambioprecio;
            col8.innerHTML = vencimiento;

            col7.className = 'visibilidad';
            col8.className = 'visibilidad';
        }
       
        //eventos de la tabla detalle de venta
        function eliminar() {

            var target1 = event.target;
            total = document.getElementById('total-compra').value;
            var totalfinal = 0;
            var eliminartotal = target1.parentNode.parentNode.children[4].innerHTML;

            totalfinal = Number.parseFloat(total) - Number.parseFloat(eliminartotal);
            $("#total-compra").val(totalfinal);

            //eliminar la fila
            target1.parentNode.parentNode.remove();

        }

        function Limpiar() {
            const form = document.getElementById("form-producto");
            form.reset();
        }

    </script>
}